/* Navbar */

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--color-primary);
    transition: all .3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--color-primary);
}

.hero-overly {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../src/features/home/components/Hero/assets/car-video-overlay.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scroll-top-car-btn::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 2px;
    width: 76px;
    height: 76px;
    background: url(../src/assets/images/car-focus.png) no-repeat center center;
    background-size: contain;
    transition: .2s;
    opacity: 0;
}

.scroll-top-car-btn:hover::before {
    opacity: 1;
}